.page {
    min-width: 1000px;
    max-width: 1600px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0 auto;
}

.header  {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 756px;
    background-color: #f2f2f2;
}

.logo {
    width: 183px;
}

.logo_place_header {
    position: absolute;
    height: 32px;
    left: 64px;
    top: 30px;
    background-image: url(/images/logo_place_header.svg);
}

.header__title {
    width: 730px;
    line-height: 96px;
    padding-left: 64px;
    font-size: 102px;
    font-weight: bolder;
    z-index: 1;
}

.header__subtitle {
    position: absolute;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    width: 388px;
    left: 64px;
    bottom: 30px;
    z-index: 1;
}

.header__link {
    text-decoration: none;
    color: #2f80ed;
}

.header__main-illustration {
    position: absolute;
    right: 0px;
    top: 64px;
    width: 568px;
    height: 568px;
    background-color: #2f80ed;
}

.header__square-pic {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 765px;
    height: 608px;
    background-size: cover;
}

.discription {
    display: flex;
    position: relative;
    width: 80%;
    margin: 100px auto 0px;
}

.two-columns {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.two-colums_brief {
    width: 175px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    color: #2f80ed;
}

.two-colums_main-text {
    width: 80%;
    min-width: 784px;
}

.two-colums__paragraph{
    font-size: 24px;
    font-weight: normal;
    line-height: 34px;
}

.span-accent {
    font-size: 24px;
    font-weight: bolder;
    line-height: 34px;
}

.digits {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.digits__section-title {
    width: 60%;
    margin: 100px auto 20px;
    font-size: 60px;
    font-weight: bold;
    line-height: 1.15;
}

.digits__section-subtitle {
    width: 60%;
    margin: 0px auto;
    font-size: 24px;
    line-height: 1.15;
}

.table {
    display: flex;
    width: 1100px;
    margin: 0px auto 100px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.table__cell {
    width: 250px;
    margin-top: 60px;
}

.table__heading{
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.table__text{
    font-size: 18px;
    text-align: left;
}


.feynman {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 790px;
    margin: 100px auto 0px;
}

.feynman__title {
    top: 0px;
    margin: 0px auto;
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bolder;
}

.feynman__subtitle {
    margin: 100px auto 0px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}

.feynman__link {
    position: absolute;
    right: 48px;
    top: 50%;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
}

.feynman__background {
    position: absolute;
    width: 867px;
    height: 637px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
}

.kaufman {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background-color: #1f1f1f;
    z-index: 1;
}

.section-title_theme_dark {
    width: 60%;
    margin: 90px auto 20px;
    font-size: 60px;
    font-weight: bolder;
    line-height: 1.15;
    color: white;
    z-index: 2;

}

.section-subtitle_theme_dark {
    width: 60%;
    margin: 0px auto;
    font-size: 24px;
    font-weight: normal;
    line-height: 34px;
    color: white;
}

.table__theme_dark {
    display: flex;
    width: 1100px;
    margin: 0px auto 90px;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2;
}

.table__cell_theme_dark {
    width: 200px;
    margin-top: 80px;
}

.table__heading_theme_dark {
    font-size: 24px;
    font-weight: bolder;
    line-height: 1.15;
    text-align: left;
    bottom: 20px;
    color: white;
}

.table__text_theme_dark {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    color: white;
}

.triangle {
    position: absolute;
    width: 877px;
    height: 877px;
    top: 0px;
    right: -210px;
}

.footer {
    display: flex;
    position: relative;
    background-color: #1f1f1f;
    min-height: 350px;
}

.footer__columns {
    width: 90%;
    margin: 60px auto 40px;
    display: flex;
    justify-content: space-between;
}

.footer__column_content-copyright {
    flex-basis: 711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo_place_footer {
    background-image: url(./images/logo_place_footer.svg);
    height: 35px;
}

.footer__author {
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    margin: 18px 0px;
    color: #f2f2f2;
}

.footer__column_content-info {
    display: flex;
    flex-direction: column;
}

.footer__column_content-social {
    display: flex;
    flex-direction: column;
}

.footer__column_content-heading {
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin: 0px 0px 20px;
    color: #f2f2f2;
}

.column-links {
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    text-decoration: none;
    color: #f2f2f2;
}

.footer__column-link {
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    text-decoration: none;
    color: #f2f2f2;
}

.footer__social-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}




